$font-stack: monospace;
/* $bg-color: #93b8a2; */
/* $bg-color: hsl(179,36,57); */
$black-ish: hsl(226,21,11); //#161922
$bg-color: $black-ish;
/* $object-bg-color: adjust-hue($bg-color, 45); */
$medium-aquamarine: hsl(193,41,62); //#76B5C6
$object-bg-color: darken($medium-aquamarine, 20%);
$inlet-color: darken($object-bg-color, 10%);
$outlet-color: darken($object-bg-color, 15%);
/* $outlet-color: #4fb2d5; */
html {
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    ms-user-select: none;
    user-select: none;
}

body {
    font: 100% $font-stack;
    color: lighten(complement($object-bg-color), 40%);
    background-color: $bg-color;
}

.title {
    text-align: center;
    color: #FFF;
    margin: 24px 0px 48px 0px;
}

.minimize-icon {
    text-align: right;
}

.object {
    position: absolute;
    background-color: $object-bg-color;
    padding: 0px;
    margin: 0px;
}

.sidebar {
    position: fixed;
    background-color: #000;
    left: 0;
    opacity: 0.7;
    padding: 14px;
    height: 100%;
    z-index: 100;
}

.inlet {
    background-color: $inlet-color;
}

.outlet {
    background-color: $outlet-color;
    text-align: right;
}

.line-box {
    position: absolute;
    width: 100%;
    pointer-events: none;
    height: 100%;
}
#patch{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: scroll;
}

body, html, #app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.one-hundred{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

svg {
    position: absolute;
    z-index: -10;
}

.mode-selector {
    /* margin-top: 100px; */
}

.mode-toggle {
    margin: 4px;
    padding: 17px;
    border: 2px solid;
    border-radius: 2px;
}

.insert-mode-toggle {
    color: #be4;
    border-color: #be4;
}

.delete-mode-toggle {
    color: #e44;
    border-color: #e44;
}

.connect-mode-toggle {
    color: #9de;
    border-color: #9de;
}

.sidebar-content {
     margin-top: 50px;
}

.create-obj-selected {
    color: #e44;
}

.create-obj-selector {
    font-size: 1.5em;
    padding-bottom: 4px;
    border-bottom: 1px solid #888;
}