$font-stack: monospace;
/* $bg-color: #93b8a2; */
/* $bg-color: hsl(179,36,57); */
$black-ish: hsl(226,21,11); //#161922
$bg-color: $black-ish;
$insert-color: #be4;
$delete-color: #e44;
$connect-color: #9de;
$connect-btn-color: lighten($delete-color, 20%);
$move-color: #fe3;
/* $object-bg-color: adjust-hue($bg-color, 45); */
$medium-aquamarine: hsl(193,41,62); //#76B5C6
$object-bg-color: darken($medium-aquamarine, 20%);
$inlet-color: darken($object-bg-color, 10%);
$outlet-color: darken($object-bg-color, 15%);
$sidebar-animation-duration: 200ms;
/* $outlet-color: #4fb2d5; */
html {
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    ms-user-select: none;
    user-select: none;
}

body {
    font: 100% $font-stack;
    color: lighten(complement($object-bg-color), 40%);
    background-color: $bg-color;
}

.title {
    text-align: center;
    color: #FFF;
    margin: 24px 0px 48px 0px;
}

.min-max-icon {
    text-align: right;
    font-size: 1.5em;
    position: relative;
}

.min-max-open-slide {
    animation-duration: $sidebar-animation-duration;
    animation-name: min-max-slide-in;
    left: 0;
}

.min-max-close-slide {
    animation-duration: $sidebar-animation-duration;
    animation-name: min-max-slide-out;
    left: 18%;
}

@keyframes min-max-slide-in {
    from {
        left: 18%;
    }
    to {
        left: 0;
    }
}

@keyframes min-max-slide-out {
    from {
        left: 0;
    }
    to {
        left: 18%;
    }
}

.min-max-close-flip {
    animation-duration: $sidebar-animation-duration;
    animation-name: flip;
    display: inline-block;
    transform: rotate(180deg);
    position: relative;
}

.min-max-open-flip {
    animation-duration: $sidebar-animation-duration;
    animation-name: flip-180;
    display: inline-block;
    transform: rotate(0deg);
    position: relative;
}

@keyframes flip {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

@keyframes flip-180 {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.object {
    position: absolute;
    background-color: $object-bg-color;
    padding: 0px;
    margin: 0px;
}

.sidebar {
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    left: 0;
    padding: 14px;
    height: 100%;
    z-index: 100;
}

.sidebar-closed {
    animation-duration: $sidebar-animation-duration;
    animation-name: slide-out;
    transform: translate(-100%);
}

.sidebar-opened {
    animation-duration: $sidebar-animation-duration;
    animation-name: slide-in;
}

@keyframes slide-out {
    from {
        transform: translate(0);
    }
    to {
        transform: translate(-100%);
    }
}

@keyframes slide-in {
    from {
        transform: translate(-100%);
    }
    to {
        transform: translate(0);
    }
}

.inlet-connector-cntr {
    position: absolute;
    width: 50px;
    /* left: -100%; */
    left: -55px;
    /* margin: auto auto; */
    /* background-color: #F92; */
}

.outlet-connector-cntr {
    position: absolute;
    width: 50px;
    left: calc(100% + 5px);
    /* margin: auto auto; */
    /* background-color: #F92; */
}

.horiz-center {
    margin: auto auto;
    text-align: center;
}

.connector-btn {
    border: solid 1px;
    border-color: $connect-btn-color;
    background-color: $connect-btn-color;
    color: #000;
    font-size: 2em;
    border-radius: 50%;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
}

.connector-btn-selected {
    border: solid 1px;
    border-color: $connect-color;
    background-color: $connect-color;
    color: #000;
    font-size: 2em;
    border-radius: 50%;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
}

.connector {
    position: absolute;
    width: 20px;
    height: 20px;
    /* margin: 0 auto; */
    top: 25%;
    left: 25%;
    /* width: 50%; */
    /* height: 50%; */
    /* transform: rotate(30deg); */
    /* transform-origin: 100% 150%; */
    background-color: #F92;
    /* z-index: 100; */
    /* transform: translateX(-30%); */
}

.inlet {
    background-color: $inlet-color;
    /* padding: 10px; */
}

.outlet {
    background-color: $outlet-color;
    text-align: right;
    /* padding: 10px; */
}

.line-box {
    position: absolute;
    width: 100%;
    pointer-events: none;
    height: 100%;
}
#patch{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: scroll;
}

body, html, #app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.one-hundred{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

svg {
    position: absolute;
    z-index: -10;
}

.mode-selector {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 50vw;
    flex-wrap: wrap;
}

.mode-toggle {
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 40px;
    border: 2px solid;
    border-radius: 2px;
}

.insert-mode-active {
    background-color: darken($insert-color, 30%);
    color: #FFF;
    border-color: $insert-color;
}

.insert-mode-inactive {
    color: $insert-color;
    border-color: $insert-color;
}

.delete-mode-active {
    background-color: darken($delete-color, 30%);
    color: #FFF;
    border-color: $delete-color;
}

.delete-mode-inactive {
    color: $delete-color;
    border-color: $delete-color;
}

.connect-mode-active {
    background-color: darken($connect-color, 30%);
    color: #FFF;
    border-color: $connect-color;
}

.connect-mode-inactive {
    color: $connect-color;
    border-color: $connect-color;
}

.move-mode-active {
    opacity: 1;
    background-color: darken($move-color, 15%);
    color: #FFF;
    border-color: $move-color;
}

.move-mode-inactive {
    color: $move-color;
    border-color: $move-color;
}

.sidebar-content {
     margin-top: 50px;
}

.create-obj-selected {
    color: #e44;
}

.create-obj-selector {
    font-size: 1.5em;
    padding-bottom: 4px;
    border-bottom: 1px solid #888;
}