$font-stack: monospace;
$bg-color: hsl(226,21,11); //#161922
$insert-color: #be4;
$delete-color: #e44;
$connect-color: #f2b500;
$control-color: #9de;
$connect-btn-color: lighten($delete-color, 20%);
$move-color: #fe3;
$medium-aquamarine: hsl(193,41,62); //#76B5C6
$object-bg-color: darken($medium-aquamarine, 20%);
$inlet-color: darken($object-bg-color, 10%);
$outlet-color: darken($object-bg-color, 15%);

html, body, #app {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    margin: 0px;
    background-color: $bg-color;
    color: lighten(complement($object-bg-color), 40%);
}

.object {
    background-color: $object-bg-color;
    display: flex;
    flex-direction: column;
}

.object-header {
    background-color: $object-bg-color;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.object-display {
    display: flex;
    flex-direction: row;
}

.io-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

svg {
    //overflow visible seems wonky for svg, cables clip randomly as you drag around objects.
    //using position absolute with overflow visible seems to help, but I have no earthly idea why
    position: absolute;
    overflow: visible;
    pointer-events: none;
}

.inlet {
    display: flex;
    flex: 1;
    background-color: $inlet-color;
    border-top: solid 1px;
    border-color: #444;
    padding: 10px;
    min-width: 30px;
    min-height: 30px;
    justify-content: right;
    align-items: center;
}

.outlet {
    display: flex;
    flex: 1;
    padding: 10px;
    justify-content: center;
    text-align: right;
    align-items: center;
    background-color: $outlet-color;
    border-top: solid 1px;
    border-color: #444;
    min-width: 30px;
    min-height: 30px;
}

.selected-outlet {
    background-color: #d74;
}

/*
Making a carousel-style menu - with flex we can tell the menu items to take up 100%, they will overflow past the menu

Otherwise we'd probably have to give each menu item absolute position and keep incrementing left by 100%.
*/
.menu {
    z-index: 1;
    transition: transform 0.2s;
    position: absolute;
    left:   100%;
    height: 100%;
    max-width: 100%;
    background-color: hsla(26,21,11,0.7); //#161922
}

.h-row {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.selected-obj {
    color: red;
}

.action-selector {
    display: flex;
}

.action-toggle {
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 2px solid;
    border-radius: 2px;
}

.add-toggle-active {
    background-color: darken($insert-color, 30%);
    color: #FFF;
    border-color: $insert-color;
}

.add-toggle-inactive {
    color: $insert-color;
    border-color: $insert-color;
}

.delete-toggle-active {
    background-color: darken($delete-color, 30%);
    color: #FFF;
    border-color: $delete-color;
}

.delete-toggle-inactive {
    color: $delete-color;
    border-color: $delete-color;
}
