body {
  box-sizing: border-box;
  /* background-color: #668968; */
  /* background-color: #5B9295; */
  flex-
}
.column-grid {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.row-grid {
  display: flex; 
  flex-direction: row;
  overflow: auto;
}
.par-group {
  background-color: #DDD;
  border-style: solid;
  border-radius: 4px;
  border-width: 2px;
  margin-bottom: 7px;
}
.synth {
  /* height: 40px; */ 
  /* width: 30px; */ 
  margin: 7px;
  flex: 1;
  border-style: inset;
  border-width: 1px;
  padding: 30px;
  background-color: #3EF2AB;
}

button {
    width: 131px;
    height: 28px;
    border-radius: 10px;
    border-style: solid;
    background-color: #39B;
}
